--
-- PostgreSQL database dump
--

\restrict wJOGV0at45DWIBuSXVM4G5gVFJqIMKkkOFnJ3CC31U7yFx0iXRylk3RdVWztkUq

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg12+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hstore; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS hstore WITH SCHEMA public;


--
-- Name: EXTENSION hstore; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION hstore IS 'data type for storing sets of (key, value) pairs';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.banners (
    id bigint NOT NULL,
    display_order integer NOT NULL,
    image_url character varying(255) NOT NULL,
    link_url character varying(255)
);


ALTER TABLE public.banners OWNER TO postgres;

--
-- Name: banners_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.banners ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.banners_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bottleneck_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bottleneck_profiles (
    id bigint NOT NULL,
    bottleneck_percent numeric(5,2),
    bottleneck_side character varying(10),
    fps_estimate integer,
    resolution character varying(10),
    cpu_product_id bigint,
    gpu_product_id bigint,
    CONSTRAINT bottleneck_profiles_bottleneck_side_check CHECK (((bottleneck_side)::text = ANY ((ARRAY['CPU'::character varying, 'GPU'::character varying, 'BALANCED'::character varying])::text[])))
);


ALTER TABLE public.bottleneck_profiles OWNER TO postgres;

--
-- Name: bottleneck_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bottleneck_profiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bottleneck_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brands (
    id bigint NOT NULL,
    logo_url character varying(500),
    name character varying(100) NOT NULL
);


ALTER TABLE public.brands OWNER TO postgres;

--
-- Name: brands_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.brands ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brands_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_items (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    quantity integer NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.cart_items OWNER TO postgres;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carts (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.carts OWNER TO postgres;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.carts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    parent_id bigint
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupons (
    id bigint NOT NULL,
    active boolean NOT NULL,
    code character varying(100) NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    discount_type character varying(50) NOT NULL,
    discount_value numeric(12,2) NOT NULL,
    end_date timestamp(6) with time zone NOT NULL,
    max_discount_amount numeric(12,2),
    min_order_amount numeric(12,2),
    start_date timestamp(6) with time zone NOT NULL,
    usage_count integer NOT NULL,
    usage_limit integer
);


ALTER TABLE public.coupons OWNER TO postgres;

--
-- Name: coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.coupons ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_batches (
    id bigint NOT NULL,
    import_price numeric(12,2),
    imported_at timestamp(6) with time zone NOT NULL,
    quantity integer NOT NULL,
    remaining_quantity integer NOT NULL,
    product_id bigint,
    purchase_order_item_id bigint
);


ALTER TABLE public.inventory_batches OWNER TO postgres;

--
-- Name: inventory_batches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_batches ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_batches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_issue_slip_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_issue_slip_items (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    product_id bigint NOT NULL,
    slip_id bigint NOT NULL
);


ALTER TABLE public.inventory_issue_slip_items OWNER TO postgres;

--
-- Name: inventory_issue_slip_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_issue_slip_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_issue_slip_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_issue_slips; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_issue_slips (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    completed_at timestamp(6) with time zone,
    created_at timestamp(6) with time zone NOT NULL,
    document_url character varying(255),
    export_reason character varying(100),
    status character varying(20) NOT NULL,
    order_id bigint
);


ALTER TABLE public.inventory_issue_slips OWNER TO postgres;

--
-- Name: inventory_issue_slips_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_issue_slips ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_issue_slips_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id bigint NOT NULL,
    cost_price numeric(12,2),
    quantity integer NOT NULL,
    selling_price numeric(12,2),
    order_id bigint,
    product_id bigint
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    coupon_discount numeric(12,2),
    created_at timestamp(6) with time zone NOT NULL,
    delivery_type character varying(30) DEFAULT 'SHOWROOM_PICKUP'::character varying NOT NULL,
    document_url character varying(255),
    recipient_name character varying(150),
    recipient_phone character varying(30),
    shipping_address character varying(500),
    status character varying(20) NOT NULL,
    total_amount numeric(12,2),
    coupon_id bigint,
    user_id bigint,
    CONSTRAINT orders_delivery_type_check CHECK (((delivery_type)::text = ANY ((ARRAY['HOME_DELIVERY'::character varying, 'SHOWROOM_PICKUP'::character varying])::text[]))),
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'CONFIRMED'::character varying, 'SHIPPED'::character varying, 'DELIVERED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pc_build_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pc_build_items (
    id bigint NOT NULL,
    component_type character varying(20) NOT NULL,
    pc_build_id bigint,
    product_id bigint,
    CONSTRAINT pc_build_items_component_type_check CHECK (((component_type)::text = ANY ((ARRAY['CPU'::character varying, 'GPU'::character varying, 'MAINBOARD'::character varying, 'RAM'::character varying, 'PSU'::character varying, 'CASE'::character varying, 'STORAGE'::character varying, 'COOLER'::character varying])::text[])))
);


ALTER TABLE public.pc_build_items OWNER TO postgres;

--
-- Name: pc_build_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pc_build_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pc_build_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pc_builds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pc_builds (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    name character varying(100) NOT NULL,
    total_power integer,
    total_price numeric(12,2),
    user_id bigint
);


ALTER TABLE public.pc_builds OWNER TO postgres;

--
-- Name: pc_builds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pc_builds ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pc_builds_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pc_system_components; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pc_system_components (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    component_product_id bigint NOT NULL,
    pc_system_detail_id bigint NOT NULL
);


ALTER TABLE public.pc_system_components OWNER TO postgres;

--
-- Name: pc_system_components_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pc_system_components ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pc_system_components_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pc_system_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pc_system_details (
    id bigint NOT NULL
);


ALTER TABLE public.pc_system_details OWNER TO postgres;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    sort_order integer NOT NULL,
    url character varying(1024) NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_images ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_promotions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_promotions (
    promotion_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.product_promotions OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    description text,
    name character varying(255) NOT NULL,
    price numeric(12,2) NOT NULL,
    slug character varying(255) NOT NULL,
    specs jsonb,
    stock integer NOT NULL,
    thumbnail_url character varying(255),
    updated_at timestamp(6) with time zone NOT NULL,
    brand_id bigint,
    category_id bigint
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions (
    id bigint NOT NULL,
    active boolean NOT NULL,
    banner_url character varying(500),
    created_at timestamp(6) with time zone NOT NULL,
    description text,
    discount_percent integer NOT NULL,
    end_date timestamp(6) with time zone NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    start_date timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.promotions OWNER TO postgres;

--
-- Name: promotions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_order_items (
    id bigint NOT NULL,
    import_price numeric(12,2) NOT NULL,
    quantity integer NOT NULL,
    product_id bigint,
    purchase_order_id bigint
);


ALTER TABLE public.purchase_order_items OWNER TO postgres;

--
-- Name: purchase_order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.purchase_order_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.purchase_order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_orders (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    document_url character varying(255),
    status character varying(20) NOT NULL,
    total_amount numeric(12,2),
    created_by bigint,
    supplier_id bigint,
    CONSTRAINT purchase_orders_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'RECEIVED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.purchase_orders OWNER TO postgres;

--
-- Name: purchase_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.purchase_orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.purchase_orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_brands (
    supplier_id bigint NOT NULL,
    brand_id bigint NOT NULL
);


ALTER TABLE public.supplier_brands OWNER TO postgres;

--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id bigint NOT NULL,
    address text,
    contact_person character varying(100),
    email character varying(100),
    name character varying(200) NOT NULL,
    phone character varying(20)
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.suppliers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    address character varying(500),
    created_at timestamp(6) with time zone NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    phone character varying(30),
    role character varying(20) NOT NULL,
    username character varying(50) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vector_store; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vector_store (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content text,
    metadata json,
    embedding public.vector(768)
);


ALTER TABLE public.vector_store OWNER TO postgres;

--
-- Data for Name: banners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.banners (id, display_order, image_url, link_url) FROM stdin;
\.


--
-- Data for Name: bottleneck_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bottleneck_profiles (id, bottleneck_percent, bottleneck_side, fps_estimate, resolution, cpu_product_id, gpu_product_id) FROM stdin;
\.


--
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_items (id, created_at, quantity, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carts (id, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, slug, parent_id) FROM stdin;
1	LAPTOP	laptop	\N
2	PC_SYSTEM	pc-system	\N
3	PC_GEAR	pc-gear	\N
4	CPU	cpu	\N
5	CASE	case	\N
6	COOLER	cooler	\N
7	FAN	fan	\N
8	MAINBOARD	mainboard	\N
9	MONITOR	monitor	\N
10	PSU	psu	\N
11	RAM	ram	\N
12	SSD	ssd	\N
13	VGA	vga	\N
\.


--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coupons (id, active, code, created_at, discount_type, discount_value, end_date, max_discount_amount, min_order_amount, start_date, usage_count, usage_limit) FROM stdin;
\.


--
-- Data for Name: inventory_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_batches (id, import_price, imported_at, quantity, remaining_quantity, product_id, purchase_order_item_id) FROM stdin;
6	9000000.00	2026-06-11 07:40:03.696925+00	10	10	60	1
7	5000000.00	2026-06-11 07:40:07.481989+00	11	10	75	2
\.


--
-- Data for Name: inventory_issue_slip_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_issue_slip_items (id, quantity, product_id, slip_id) FROM stdin;
1	1	75	1
\.


--
-- Data for Name: inventory_issue_slips; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_issue_slips (id, code, completed_at, created_at, document_url, export_reason, status, order_id) FROM stdin;
1	PXK-M-1781163623900	2026-06-11 07:40:23.900396+00	2026-06-11 07:40:23.908379+00	\N	PROVIDER_RETURN	COMPLETED	\N
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (id, cost_price, quantity, selling_price, order_id, product_id) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, coupon_discount, created_at, delivery_type, document_url, recipient_name, recipient_phone, shipping_address, status, total_amount, coupon_id, user_id) FROM stdin;
\.


--
-- Data for Name: pc_build_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pc_build_items (id, component_type, pc_build_id, product_id) FROM stdin;
\.


--
-- Data for Name: pc_builds; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pc_builds (id, created_at, name, total_power, total_price, user_id) FROM stdin;
\.


--
-- Data for Name: pc_system_components; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pc_system_components (id, quantity, component_product_id, pc_system_detail_id) FROM stdin;
\.


--
-- Data for Name: pc_system_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pc_system_details (id) FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_promotions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_promotions (promotion_id, product_id) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: promotions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.promotions (id, active, banner_url, created_at, description, discount_percent, end_date, name, slug, start_date) FROM stdin;
\.


--
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_order_items (id, import_price, quantity, product_id, purchase_order_id) FROM stdin;
1	9000000.00	10	60	1
2	5000000.00	11	75	2
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_orders (id, created_at, document_url, status, total_amount, created_by, supplier_id) FROM stdin;
1	2026-06-07 01:41:55.795143+00	https://res.cloudinary.com/db9zbbxmq/raw/upload/v1780796515/PCMaster_Storage/Documents/file_pbhgti	RECEIVED	90000000.00	1	6
2	2026-06-11 07:28:52.35066+00	https://res.cloudinary.com/db9zbbxmq/raw/upload/v1781162930/PCMaster_Storage/Documents/file_crqtvp	RECEIVED	55000000.00	1	1
\.


--
-- Data for Name: supplier_brands; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_brands (supplier_id, brand_id) FROM stdin;
6	7
6	40
6	28
6	42
6	24
6	46
6	4
6	35
6	32
6	18
6	29
6	3
6	14
6	1
6	13
6	31
6	43
6	27
6	8
6	37
6	9
6	20
6	30
6	41
6	6
6	16
6	19
6	34
6	36
6	12
6	21
6	47
6	22
6	5
6	11
6	15
6	33
6	26
6	25
6	39
6	17
6	23
6	38
6	45
6	2
1	39
1	1
1	41
1	33
1	37
1	36
1	16
1	30
1	40
1	28
2	34
2	9
2	40
2	46
2	45
2	43
3	7
3	35
3	47
3	30
3	21
3	46
4	1
4	5
4	47
4	2
4	16
4	45
4	13
5	5
5	37
5	19
5	12
5	30
5	8
5	38
5	32
5	43
5	22
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (id, address, contact_person, email, name, phone) FROM stdin;
1	Hanoi	Nguyen An	contact@anphat.local	An Phat Trading	0901000001
2	HCM	Tran Ha	sales@hoangha.local	Hoang Ha Tech	0901000002
3	Da Nang	Le Vu	hello@phongvu.local	Phong Vu Distribution	0901000003
4	Hanoi	Pham Linh	partner@synnex.local	Synnex FPT	0901000004
5	HCM	Do Quang	supply@gearvn.local	GearVN Supply	0901000005
6	─Éß╗æng ─Éa-H├á Nß╗Öi	Leonardo Dicaprio	allinonedistributor@company.com	AIO	0865725929
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vector_store; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: banners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.banners_id_seq', 1, false);


--
-- Name: bottleneck_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bottleneck_profiles_id_seq', 1, false);


--
-- Name: brands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.brands_id_seq', 50, true);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 1, false);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.carts_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 13, true);


--
-- Name: coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupons_id_seq', 1, false);


--
-- Name: inventory_batches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_batches_id_seq', 7, true);


--
-- Name: inventory_issue_slip_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_issue_slip_items_id_seq', 1, true);


--
-- Name: inventory_issue_slips_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_issue_slips_id_seq', 1, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, false);


--
-- Name: pc_build_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pc_build_items_id_seq', 1, false);


--
-- Name: pc_builds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pc_builds_id_seq', 1, false);


--
-- Name: pc_system_components_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pc_system_components_id_seq', 1, false);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_images_id_seq', 566, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 75, true);


--
-- Name: promotions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.promotions_id_seq', 1, false);


--
-- Name: purchase_order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_order_items_id_seq', 2, true);


--
-- Name: purchase_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_orders_id_seq', 2, true);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: bottleneck_profiles bottleneck_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bottleneck_profiles
    ADD CONSTRAINT bottleneck_profiles_pkey PRIMARY KEY (id);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);


--
-- Name: inventory_batches inventory_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_batches
    ADD CONSTRAINT inventory_batches_pkey PRIMARY KEY (id);


--
-- Name: inventory_issue_slip_items inventory_issue_slip_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_issue_slip_items
    ADD CONSTRAINT inventory_issue_slip_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_issue_slips inventory_issue_slips_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_issue_slips
    ADD CONSTRAINT inventory_issue_slips_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: pc_build_items pc_build_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_build_items
    ADD CONSTRAINT pc_build_items_pkey PRIMARY KEY (id);


--
-- Name: pc_builds pc_builds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_builds
    ADD CONSTRAINT pc_builds_pkey PRIMARY KEY (id);


--
-- Name: pc_system_components pc_system_components_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_system_components
    ADD CONSTRAINT pc_system_components_pkey PRIMARY KEY (id);


--
-- Name: pc_system_details pc_system_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_system_details
    ADD CONSTRAINT pc_system_details_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: promotions promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_pkey PRIMARY KEY (id);


--
-- Name: purchase_order_items purchase_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: supplier_brands supplier_brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_brands
    ADD CONSTRAINT supplier_brands_pkey PRIMARY KEY (supplier_id, brand_id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: carts uk64t7ox312pqal3p7fg9o503c2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT uk64t7ox312pqal3p7fg9o503c2 UNIQUE (user_id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: promotions ukamv92pavwowami9df2j1keec1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT ukamv92pavwowami9df2j1keec1 UNIQUE (slug);


--
-- Name: coupons ukeplt0kkm9yf2of2lnx6c1oy9b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT ukeplt0kkm9yf2of2lnx6c1oy9b UNIQUE (code);


--
-- Name: inventory_issue_slips ukkv9qxacyhgqpi5bvu03u2mwgx; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_issue_slips
    ADD CONSTRAINT ukkv9qxacyhgqpi5bvu03u2mwgx UNIQUE (code);


--
-- Name: products ukostq1ec3toafnjok09y9l7dox; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT ukostq1ec3toafnjok09y9l7dox UNIQUE (slug);


--
-- Name: categories ukoul14ho7bctbefv8jywp5v3i2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT ukoul14ho7bctbefv8jywp5v3i2 UNIQUE (slug);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vector_store vector_store_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vector_store
    ADD CONSTRAINT vector_store_pkey PRIMARY KEY (id);


--
-- Name: spring_ai_vector_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX spring_ai_vector_index ON public.vector_store USING hnsw (embedding public.vector_cosine_ops);


--
-- Name: cart_items fk1re40cjegsfvw58xrkdp6bac6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fk1re40cjegsfvw58xrkdp6bac6 FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders fk32ql8ubntj5uh44ph9659tiih; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk32ql8ubntj5uh44ph9659tiih FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: product_promotions fk5li9b7on7wrh01p4ikflvjvx6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_promotions
    ADD CONSTRAINT fk5li9b7on7wrh01p4ikflvjvx6 FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: bottleneck_profiles fk5rvo3sldo56q51atm9ftn7fk0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bottleneck_profiles
    ADD CONSTRAINT fk5rvo3sldo56q51atm9ftn7fk0 FOREIGN KEY (gpu_product_id) REFERENCES public.products(id);


--
-- Name: pc_system_components fk7spuia226ujb10n07stvkpe6h; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_system_components
    ADD CONSTRAINT fk7spuia226ujb10n07stvkpe6h FOREIGN KEY (pc_system_detail_id) REFERENCES public.pc_system_details(id);


--
-- Name: inventory_batches fk9wx3rsi5mhamxiuvbqwvgkk9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_batches
    ADD CONSTRAINT fk9wx3rsi5mhamxiuvbqwvgkk9 FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products fka3a4mpsfdf4d2y6r8ra3sc8mv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fka3a4mpsfdf4d2y6r8ra3sc8mv FOREIGN KEY (brand_id) REFERENCES public.brands(id);


--
-- Name: carts fkb5o626f86h46m4s7ms6ginnop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT fkb5o626f86h46m4s7ms6ginnop FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: order_items fkbioxgbv59vetrxe0ejfubep1w; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fkbioxgbv59vetrxe0ejfubep1w FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: pc_build_items fkc3u0cb9m9reslm1s2x7xeulr2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_build_items
    ADD CONSTRAINT fkc3u0cb9m9reslm1s2x7xeulr2 FOREIGN KEY (pc_build_id) REFERENCES public.pc_builds(id);


--
-- Name: purchase_orders fkcgqvocxciov7fq8tev9p50e5d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT fkcgqvocxciov7fq8tev9p50e5d FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: inventory_issue_slip_items fkd8vsqq05jrfrkb9s5v2hvbf0b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_issue_slip_items
    ADD CONSTRAINT fkd8vsqq05jrfrkb9s5v2hvbf0b FOREIGN KEY (slip_id) REFERENCES public.inventory_issue_slips(id);


--
-- Name: pc_builds fkeckl8m6rvj7jpvapkmryse08i; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_builds
    ADD CONSTRAINT fkeckl8m6rvj7jpvapkmryse08i FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: supplier_brands fkepqgs9t6xcpukdrtknuh8srwy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_brands
    ADD CONSTRAINT fkepqgs9t6xcpukdrtknuh8srwy FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: supplier_brands fkirtrf2c8ua26y2lnh0fbv9sjo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_brands
    ADD CONSTRAINT fkirtrf2c8ua26y2lnh0fbv9sjo FOREIGN KEY (brand_id) REFERENCES public.brands(id);


--
-- Name: pc_build_items fkjvyq8dsnlif602nbptcwdw8m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_build_items
    ADD CONSTRAINT fkjvyq8dsnlif602nbptcwdw8m FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders fkn1d1gkxckw648m2n2d5gx0yx5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkn1d1gkxckw648m2n2d5gx0yx5 FOREIGN KEY (coupon_id) REFERENCES public.coupons(id);


--
-- Name: inventory_issue_slip_items fko0sfkn5d7w4awbwfc67lnm7x4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_issue_slip_items
    ADD CONSTRAINT fko0sfkn5d7w4awbwfc67lnm7x4 FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: purchase_order_items fko3yj8ocbw2kav38548t22hgh8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT fko3yj8ocbw2kav38548t22hgh8 FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- Name: bottleneck_profiles fko94sqwagfbr19g858kax70kyr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bottleneck_profiles
    ADD CONSTRAINT fko94sqwagfbr19g858kax70kyr FOREIGN KEY (cpu_product_id) REFERENCES public.products(id);


--
-- Name: order_items fkocimc7dtr037rh4ls4l95nlfi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fkocimc7dtr037rh4ls4l95nlfi FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products fkog2rp4qthbtt2lfyhfo32lsw9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fkog2rp4qthbtt2lfyhfo32lsw9 FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: inventory_issue_slips fkou0mnsvj9bx67o4ej9o91xa69; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_issue_slips
    ADD CONSTRAINT fkou0mnsvj9bx67o4ej9o91xa69 FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: cart_items fkpcttvuq4mxppo8sxggjtn5i2c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fkpcttvuq4mxppo8sxggjtn5i2c FOREIGN KEY (cart_id) REFERENCES public.carts(id);


--
-- Name: inventory_batches fkqitwo7w51ppgie0dm6oc568vl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_batches
    ADD CONSTRAINT fkqitwo7w51ppgie0dm6oc568vl FOREIGN KEY (purchase_order_item_id) REFERENCES public.purchase_order_items(id);


--
-- Name: product_promotions fkqmcm2exr3u4h8gxekpru47vqb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_promotions
    ADD CONSTRAINT fkqmcm2exr3u4h8gxekpru47vqb FOREIGN KEY (promotion_id) REFERENCES public.promotions(id);


--
-- Name: product_images fkqnq71xsohugpqwf3c9gxmsuy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT fkqnq71xsohugpqwf3c9gxmsuy FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: pc_system_details fkr2jjsgbw0gmkfnl1cbjc8sbgq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_system_details
    ADD CONSTRAINT fkr2jjsgbw0gmkfnl1cbjc8sbgq FOREIGN KEY (id) REFERENCES public.products(id);


--
-- Name: pc_system_components fkrerseo199f7rvf42777r3v3pv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pc_system_components
    ADD CONSTRAINT fkrerseo199f7rvf42777r3v3pv FOREIGN KEY (component_product_id) REFERENCES public.products(id);


--
-- Name: purchase_orders fkrpdasmb8y8xs5tiy4369xpinq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT fkrpdasmb8y8xs5tiy4369xpinq FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: purchase_order_items fks16e5vrvsp8alu0xp8m3a2ol5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT fks16e5vrvsp8alu0xp8m3a2ol5 FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: categories fksaok720gsu4u2wrgbk10b5n8d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT fksaok720gsu4u2wrgbk10b5n8d FOREIGN KEY (parent_id) REFERENCES public.categories(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wJOGV0at45DWIBuSXVM4G5gVFJqIMKkkOFnJ3CC31U7yFx0iXRylk3RdVWztkUq

